<section ng-controller="GradeController" data-ng-init="getGrade()" layout="row" layout-align="center">
    <div class="layout-padding" flex-gt-sm="80" flex-xs="100">
        <div layout="row" style="min-height: 100px">
            <h1>
                Grade Administration
            </h1>
            <span flex></span>
            <md-button ng-show="selected.length === 0" ng-click="showCreateGrade()">
                <i class="material-icons md-36">add</i>
                <md-tooltip>
                    Add Grade
                </md-tooltip>
            </md-button>
            <md-input-container ng-show="selected.length === 0" class="md-block">
                <label>Search...</label>
                <input ng-model="query.search">
            </md-input-container>
            <md-button ng-show="selected.length > 0" ng-click="deleteGrade()">
                <i class="material-icons md-36">delete</i>
                <md-tooltip>
                    Delete selected grades
                </md-tooltip>
            </md-button>
        </div>
        <p ng-show="error !== ''">{{error}}</p>
        <md-table-container>
            <table md-table md-row-select ng-model="selected" md-progress="promise">
                <thead md-head md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column md-order-by="Quizz_idQuizz">Quizz Name</th>
                    <th md-column md-order-by="score">Score</th>
                    <th md-column md-order-by="Student_idStudent">Student Id</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="grade" ng-click="showEditGrade($event, grade)"  md-select-id="{{grade.idGrade}}" ng-repeat="grade in grade | orderBy:query.predicate:query.reverse | filter:query.search | limitTo: query.limit: (query.page - 1) * query.limit">
                    <td md-cell>{{grade.Quizz.name}}</td>
                    <td md-cell>{{grade.score}}</td>
                    <td md-cell>{{grade.Student_idStudent}}</td>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{grade.length}}" md-options="query.rowPerPage" md-page-select></md-table-pagination>
    </div>
</section>